<!DOCTYPE html>
<html>
<head>
  <title><%= siteName %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <h1 id="topBanner">TinyFeed.ME</h1>
  <video id="mainVid" src="video/happyfit2.mp4"></video>
  <div id="bottomBanner">
    <h1>Make your own impression!&#8594;</h1>
    <div id="addVideo">
      <form style="display:none;">
        <input type="file" accept="video/*" capture="camera">
      </form>
      <button>Add Your Video!!</button>
    </div>
  </div>
</body>
</html>
