<!DOCTYPE html>
<html>
<head>
  <title><%= siteName %></title>
  <% for (var i = 0; i < css.length; i++) { %>
    <link rel="stylesheet" href="<%= css[i] %>">
  <% } %>
  <script type="text/javascript">
    /*document.createElement('video');document.createElement('audio');document.createElement('track');*/
  </script>
</head>
<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand spotlight" href="#"><img class="img-responsive" src="img/tinyfeed.png" id="logo"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a class="spotlight" href="#">Claim your spotlight!!</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="about-swal" href="#">What is tinyfeed?</a></li>
              <li><a href="terms.html" target="_blank">Terms of Service</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Contact Us</li>
              <li><a href="mailto:info@tinyfeed.me">Email</a></li>
              <li><a href="#">Leave Feedback - Coming soon!</a></li>
              <li><a href="#">Report a Problem - Coming soon!</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div id="addSpotlight">
    <form style="display:none;">
      <input type="file" accept="video/*" capture="camera">
    </form>
  </div>

  <div id="uploadProgress" class="container" style="display:none;">
    <div class="row">
      <div class="col-xs-12">
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="embed-responsive embed-responsive-16by9">-->
    <video id="videoFeed" autoplay preload="auto">
      <!--<p class="vjs-no-js">To enjoy watching tinyfeed, please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>-->
    </video>
  <!--</div>-->

  <script src="/socket.io/socket.io.js"></script>
  <% for (var i = 0; i < js.length; i++) { %>
    <script src="<%= js[i] %>"></script>
  <% } %>

  <script>
    videojs.options.flash.swf = "bower_components/videojs/dist/video-js/video-js.swf";

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3495504-3', 'auto');
    ga('send', 'pageview');
  </script>

</body>
</html>
