<!DOCTYPE html>
<html>
<head>
  <title><%= siteName %></title>
  <link rel="stylesheet" href="css/main.css">
  <script type="text/javascript" src="js/vendor/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
  <div id="header">
    <img src="img/tinyfeed.png" id="logo">
    <div id="addVideo">
      <form style="display:none;">
        <input type="file" accept="video/*" capture="camera">
      </form>
      <button>Add Your Video!!</button>
    </div>
  </div>
  <video id="videoFeed" autoplay></video>

  <script type="text/javascript">
    var vidIndex = <%= vidIndex %>;
  </script>
</body>
</html>
