@media only screen and (min-width : 768px) {
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

body {
  margin: 0;
  padding: 51px 0px 0px;
  overflow: hidden; /* for some reason, the video tag is extending 6px too far and creating a scroll bar */
  background-color: #000;
}

#videoFeed {
  width: 100%;
  left: 0;
  z-index: -1;
}

#modalShim {
  background-color: rgba(233,233,233,0.8);
  z-index:10;
  position:absolute;
  width: 100%;
  height: 100%;
}

#loginForm {
  z-index:11;
  position:absolute;
  top: 10%;
  width:100%;
}

#loginForm form{
  background-color: #6C7A89;
  border-radius: 6%;
  color:white;
  padding:1em;
}

.navbar-nav .btn {
  top: 5px;
}
.btn.outline {
    background: none;
    padding: 8px 12px;
}
.btn-primary.outline {
    border: 2px solid white;
    color: white !important;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    border-color: #33a6cc;
    color: #33a6cc !important;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299 !important;
    box-shadow: none;
}

/****************************************** /users styles ******************************************/
.row + .row {
  margin-top: 30px;
}

.rank-slider {
  /*padding: 8px 0px;
          border-radius: 10px 10px 10px 10px;
     -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid;*/
}

/****************************************** /profile styles ******************************************/
.row + .row {
  margin-top: 30px;
}

.upload-info {
  font-size: 0.8em;
  font-style: italic;
}

.message {
  padding-top: 40px;
  text-align: center;
  font-size: 40px;
  color: white;
}

.message-button {
  text-align: center;
  padding-top: 60px;
}

.btn-huge {
  font-size: 40px;
  padding: 20px 40px;
  border-radius: 8px;
}