@media only screen and (min-width : 768px) {
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.col-xs-2 {
  background: blue;
}

.col-xs-5 {
  background: red;
}

.col-xs-5 + .col-xs-5 {
  background: yellow;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000000;
}

#header {
  background-color: #232323;
  /*height: 35px;*/
}

#logo {
}

#addVideo {
}

#videoFeed {
  width: 100%;
  left: 0;
  z-index: -1;
}
